.dropdown-contents{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(to bottom, var(--nav-bar-bg-color), var(--active-nav-tab-bg-color));
    color: var(--nav-bar-text-color);
    padding:.5rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    margin-left: -.5rem;
}

.menu-category{
    margin-right: 1rem;
    margin-left: 1rem;
}

.category-closed{
    display: none;
}

