.profile-pic-and-names{
    display: flex;
    flex-direction: row;
}

.profile-names{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.profile-names *{
    margin-bottom: 0;
}

.profile-pic {
    height: 10rem;
    width: 10rem;
    border-radius: 10%;
    border: 3px solid black;
    margin-right: 1rem;
}

.edit-profile-link{
    padding: 1rem;
    background-color: #F3974E;
    border-radius: 1rem;
    color: black;
    text-decoration: none;
    border: 2px solid #00000000;
}

.edit-profile-link:hover{
    border: 2px solid black;
}