:root{
  --body-bg-color: #698E9C;
  --content-text-color: white;
  
  --active-nav-tab-bg-color: #E4D091;
  --active-nav-tab-text-color: white;
}

.active{
  background-color: var(--active-nav-tab-bg-color);
  color: var(--active-nav-tab-text-color);
  height: 100%;
}

.content{
  margin-top: 3rem;
  color: var(--content-text-color);

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
}

.content a{
  color: #EDAA25;
}

body {
    background-color: var(--body-bg-color);
    box-sizing: border-box;
}

.info-card{
  background-color: rgb(214, 214, 214);
  border-radius: 2rem;
  padding: 1rem;
  color: black;
  max-width: 90%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}

form{
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}


.page-heading{
  text-align: center;
}