:root {
  --nav-bar-bg-color: #F3974E;
  --nav-bar-text-color: black;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--nav-bar-bg-color);
  color: var(--nav-bar-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}
.navbar a{
  text-decoration: none;
  color: black;
}

.navlinks {
  display: flex;
  align-items: center;
}

.navlinks .top-level-menu-item {
  padding: 0.5rem;
}

.navlinks .navlink:not(:last-child) {
  margin-right: 1rem;
}

.auth-link {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 20px;
  margin-right: 0.2rem;
}


