:root{
    --nav-bar-bg-color:  #F3974E;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--nav-bar-bg-color);
    display: flex;
    justify-content: space-between;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: .5rem;
}