.project-description-paragraph{
    text-align: justify;
}

.project-image{
    max-height: 200px;
    min-height: 40px;
    float: left;
    margin-right: 1rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
}
