
.form-submit-button{
    background-color: var(--nav-bar-bg-color);
    border-radius: 1rem;
    border:none;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.delete-profile-button{
    background-color: #e23201;
    border-radius: 1rem;
    border:none;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}